#
sysname CORE-FW-01
#
vlan batch 10 20 100
#
ip vpn-instance OFFICE
 ipv4-family
#
interface GigabitEthernet0/0/1
 description Uplink-to-Core-Switch
 ip address 10.10.10.1 255.255.255.0
#
interface GigabitEthernet0/0/2
 description Office-Segment
 ip binding vpn-instance OFFICE
 ip address 192.168.20.254 24
 port default vlan 20
#
interface GigabitEthernet0/0/3
 description Reserved-Down
 shutdown
#
interface LoopBack0
 ip address 1.1.1.1 32
#
return
