!Software Version V500R005C20SPC300
#
 sysname FW-EDGE-01
#
hrp enable
hrp interface GigabitEthernet0/0/7 remote 10.255.255.2
hrp mirror session enable
#
interface GigabitEthernet0/0/1
 ip address 192.168.10.1 255.255.255.0
#
interface GigabitEthernet0/0/2
 ip address 203.0.113.1 255.255.255.248
#
interface GigabitEthernet0/0/3
 ip address 10.10.10.1 255.255.255.0
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/1
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet0/0/2
#
firewall zone name DMZ-WEB id 4
 set priority 50
 add interface GigabitEthernet0/0/3
#
ip address-set web-servers type object
 address 0 10.10.10.10 mask 32
#
security-policy
 rule name trust-to-dmz-web
  source-zone trust
  destination-zone DMZ-WEB
  source-address 192.168.0.0 mask 16
  destination-address address-set web-servers
  service http
  service https
  profile av default
  action permit
 rule name mgmt-ssh
  source-zone trust
  destination-zone local
  service ssh
  session logging
  action permit
 rule name default-deny
  action deny
#
nat-policy
 rule name trust-web-out
  source-zone trust
  destination-zone untrust
  source-address 192.168.10.0 mask 24
  destination-address 0.0.0.0 mask 0
  service any
  action source-nat easy-ip
 rule name trust-to-dmz-no-nat
  source-zone trust
  destination-zone DMZ-WEB
  source-address 192.168.10.0 mask 24
  destination-address 10.10.10.0 mask 24
  service https
  action no-nat
#
nat server web-pub zone untrust protocol tcp global 203.0.113.10 443 inside 10.10.10.10 443
#
return
