!Software Version V500R005C20SPC300
#
 sysname FW-RISKY-01
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/1
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet0/0/1
#
security-policy
 default action permit
 rule name any-to-any
  action permit
 rule name web-in
  source-zone untrust
  destination-zone trust
  destination-address 10.10.10.10 mask 32
  service http
  action permit
#
return
