!Software Version V800R012C10SPC300
!Last configuration was updated at 2026-06-15 08:00:00
#
 sysname CORE-SW-01
#
vlan batch 10 20 30
#
vlan batch 1000 to 1002
#
vlan 10
 description MGMT-VLAN
#
vlan 20
 description SERVER-VLAN
#
ip vpn-instance OFFICE
 ipv4-family
  route-distinguisher 65000:100
  vpn-target 65000:100 export-extcommunity
  vpn-target 65000:100 import-extcommunity
#
acl number 3000
 rule 5 deny ip source 10.50.200.0 0.0.0.255 destination 172.30.0.0 0.0.63.255
 rule 10 permit ip source any destination any
#
interface Eth-Trunk1
 description UPLINK-TO-CORE
 port link-type trunk
 port trunk allow-pass vlan 10 20
 port trunk allow-pass vlan 1000 to 1002
#
interface Eth-Trunk1.100
 vlan-type dot1q 100
 ip address 10.0.0.2 255.255.255.252
#
interface GigabitEthernet0/0/1
 description SERVER-ACCESS
 eth-trunk 1
#
interface GigabitEthernet0/0/2
 description OFFICE-L3
 ip binding vpn-instance OFFICE
 ip address 192.168.20.254 255.255.255.0
 ip address 192.168.21.254 255.255.255.0 sub
 port default vlan 20
#
interface GigabitEthernet0/0/3
 description RESERVED-DOWN
 shutdown
#
interface Vlanif10
 description MGMT-GATEWAY
 ip address 192.168.10.1 24
#
interface LoopBack0
 ip address 1.1.1.1 255.255.255.255
#
interface MEth0/0/1
 ip address 10.0.1.1 255.255.255.0
#
ip route-static 0.0.0.0 0.0.0.0 10.0.0.1
ip route-static 10.50.0.0 255.255.0.0 10.0.0.1 preference 60
ip route-static vpn-instance OFFICE 192.168.99.0 255.255.255.0 192.168.20.1
#
return
